<h1>All Items</h1>

<br>

<table >
  <tr>
    <td><a href="filter/allItems"><button class="btn btn-lg">add filters</button></a></td>
    <% @appliedFilters.each do |filter| %>
      <td><%=filter%></td>
    <%end %>
  </tr>  
  
</table>

<br>

<div class="row">
<% @items.each do |item| %>
  <div class="col-sm-6 col-md-4 filterDiv <%=item.section%>">
    <a href="items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p>
          <a href="/saves/new/<%=item.id%>" class="glyphicon glyphicon-plus" role="button"></a>
        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>