<h1 align=center>Kids</h1>

<table >
  <tr>
    <td><a href="filter/kids"><button class="btn btn-lg">add filters</button></a></td>
    <% @appliedFilters.each do |filter| %>
      <td><%=filter%></td>
    <%end %>
  </tr>  
  
</table>


<% if @appliedFilters.length() == 0 %>

<h2>Tops</h2>
<div class="row">
<% @tops.each do |item| %>
  <div class="col-sm-6 col-md-4">
    <a href="items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p><%= item.item_size %></p>
        <p>
          <a href="/saves/new/<%=item.id%>" class="glyphicon glyphicon-plus" role="button"></a>
        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>

<h2>Bottoms</h2>
<div class="row">
<% @bottoms.each do |item| %>
  <div class="col-sm-6 col-md-4">
    <a href="items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p><%= item.item_size %></p>
        <p>
          <a href="/saves/new/<%=item.id%>" class="glyphicon glyphicon-plus" role="button"></a>
        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>


<%else%>

<div class="row">
<% @items.each do |item| %>
  <div class="col-sm-6 col-md-4 filterDiv <%=item.section%>">
    <a href="items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p><%= item.item_size %></p>
        <p>
          <a href="/saves/new/<%=item.id%>" class="glyphicon glyphicon-plus" role="button"></a>
        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>

<%end %>