<h1>Popular Items</h1>

<div class="row">
<% @items.each do |item| %>
  <div class="col-sm-6 col-md-4">
    <a href="items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p><%= item.item_size %></p>
        <b><p align="center">Popularity Score: <%= item.popularity %></p></b>
        <p>
          <a href="/saves/new/<%=item.id%>" class="glyphicon glyphicon-plus" role="button"></a>
        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>