<h2>Tops</h2>
<div class="row">
<% @tops.each do |item| %>
  <div class="col-sm-6 col-md-4">
    <a href="items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p>
        <% if user_signed_in? %>
          <a href="/saves/<%=item.id%>" class="btn btn-primary" role="button">Save</a>
        <% else %>
          <a class="btn btn-primary" role="button" disabled>Save</a>
        <% end %>
        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>

<h2>Bottoms</h2>
<div class="row">
<% @bottoms.each do |item| %>
  <div class="col-sm-6 col-md-4">
    <a href="items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p>
        <% if user_signed_in? %>
          <a href="/saves/<%=item.id%>" class="btn btn-primary" role="button">Save</a>
        <% else %>
          <a class="btn btn-primary" role="button" disabled>Save</a>
        <% end %>
        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>