<h2 align="center">Saved Items</h2>

<div class="row">
<% @SavedList.each do |item| %>
  <div class="col-sm-6 col-md-4">
    <a href="/items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p align="right">
          <a href="/saves/remove/<%=item.id%>"class="glyphicon glyphicon-trash" role="button"></a>
          <a class="glyphicon glyphicon-shopping-cart" role="button"></a>
        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>
