<h2 align="center">Saved Items</h2>

<div class="row">

<% if @SavedList.size == 0 %>

<h4 align="center">No Saved Items </h4>

<% end %>


<% @SavedList.each do |item| %>
  <div class="col-sm-6 col-md-4">
    <a href="/items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p align="right">
          <a href="/saves/remove/<%=item.id%>"class="glyphicon glyphicon-trash" role="button"></a>
          
          <% if user_signed_in? %>
            <a class="glyphicon glyphicon-shopping-cart" role="button" href="/carts/new/<%=item.id%>"></a>
          <% else %>
            
            <script>
            function alertForCart() {
              alert("Login to proceed");
            }
            </script>
        
            <a onclick="alertForCart()" class="glyphicon glyphicon-shopping-cart" role="button" href="/users/sign_in"></a>
          <% end %>

        </p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>
