<h1 align=center>Cart</h1>

<h4>Items in cart: <%= @cartItems.length %></h4>

<br>

<% @cartItems.each do |item| %>

<div class="panel panel-info">
    <div class="panel-heading"><%= item.item.name %></div>
    <div class="panel-body ">
        
        <span>
        <table>
        <tr>
        <td >COLOUR:
        <span style="color:<%= item.colour %>; font-size: 2.5em;"><%= "■" * item.quantity%><%= "□" * (5-item.quantity).abs() %></span>
        </td>
        <td >SIZE: <%= item.clothing_size %></td>
        <td>QTY: <%= item.quantity %></td>
        <td>PRICE: <%=item.item.price * item.quantity%></td>
        <td style="width: 75%;"></td>
        <td class="right">
            ​<a href="/items/<%= item.item.id %>"><img src="<%= item.item.image_url %>" width="40" height="40" alt="<%= item.item.name %> img"></a>
        </td>
        </tr>
        </table>
        </span>
        
    </div>
</div>

<%end %>

<br>


    
    <div class="center">
        
        <% if @firstTimeCheckingOut == true %>
            <a href="/rating"><button class="btn btn-default btn-lg">Checkout Cart</button></a>
        <% else %>
            <a href="/carts/show/checkout"><button class="btn btn-default btn-lg">Checkout Cart</button></a>
        <% end %>
        
    </div>

