<h2 align="center">Saved Items</h2>

<p> <%=@item.name%></p>

<div class="row">
<% @SavedList.each do |item| %>
  <div class="col-sm-6 col-md-4">
    <a href="/items/<%= item.id%>">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="...">
      <div class="caption">
        <p><%= item.name %></p>
        <p>$<%= item.price %></p>
        <p><a class="btn btn-primary" role="button"><>Remove</a></p>
      </div>
    </div>
    </a>
  </div>
<%end %>
</div>

<% @arr.each do |thing| %>
<p><%= thing %></p>
<%end %>
