<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 style="text-align:left;"><%= current_user.username %> <span style="float:right;">
    <% provide(:title, @user.username) %>
    <h1>
      <%= gravatar_for @user %>
      
    </h1>
    
  </span></h1> 
    <p><%= @user.email %></p>
  </div>
</div>
 


<br>

<% if @subscribed == true %>
<a href="/profile/subscription"><p>Unsubscribe</p></a>
<% else @subscribed == false %>
<a href="/profile/subscription"><p>Subscribe</p></a>
<%end %>

<p><%= link_to "Update Login Details", edit_user_registration_path %></p>
<a href="/carts/show"><p>Pending Orders</p></a>
<p><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link"  %></p>

